<div class="card w-card adv-search-box">
  <div class="card-header">
    <div class="card-title">
    	<i class="fa fa-search-plus"></i><span>Advanced Search</span>
    </div>
  </div>
  <div class="card-body">
  	<form class="row">
  		<div class="form-group col-sm-12">
  			<select class="form-control">
  				<option value="">Order By (Date, Release Date, Rating)</option>
  				<option value="">-</option>
  			</select>
  		</div>
  		<div class="form-group col-sm-12">
  			<select class="form-control">
  				<option value="">Director</option>
  				<option value="">-</option>
  			</select>				  			
  		</div>
  		<div class="form-group col-sm-12">
  			<select class="form-control">
  				<option value="">Actor</option>
  				<option value="">-</option>
  			</select>				  			
  		</div>
  		<div class="form-group col-sm-12">
  			<select class="form-control">
  				<option value="">Genre</option>
  				<option value="">-</option>
  			</select>				  			
  		</div>
  		<div class="form-group col-sm-12">
  			<select class="form-control">
  				<option value="">Director</option>
  				<option value="">-</option>
  			</select>				  			
  		</div>				  		
  		<div class="form-group col-sm-12">
  			<div class="row">
  				<div class="col-sm-12"><label class="release-label" for="">Release Date (Min-Max)</label></div>
	  			<div class="col-12 col-sm-6">
	  				<div class="form-group mb-0">
	  					<select name="" id="" class="form-control">
	  						<option value="">1900</option>
	  					</select>
	  				</div>
	  			</div>
	  			<div class="col-12 col-sm-6">
	  				<div class="form-group mb-0">
	  					<select name="" id="" class="form-control">
	  						<option value="">2018</option>
	  					</select>
	  				</div>
	  			</div>				  				
  			</div>
  		</div>
  		<div class="form-group col-sm-12 btn-sr-wrap">
  			<button type="submit" id="btn-adv-search" class="btn btn-primary mr-3">Search</button>
  			<button type="reset" class="btn btn-reset">Reset</button>	
  		</div>

  	</form>
  </div>
</div>