<!-- Content Section - Start -->
<div class="container w-cards-cont">
	<div class="row">
			<!-- Left Container Section - Start -->
			<div class="col-lg-8 col-md-12 col-sm-12 w-lt-cont">

				<!-- Movie Card - Container - Start  -->
				<app-movie-card></app-movie-card>
				<!-- Movie Card - Container - End  -->

				
			</div>
			<!-- Left Container Section - End -->

			<!-- Right Container Section - Start -->
			<div class="col-lg-4 col-md-12 col-sm-12 w-rt-sidebox">
				<!-- Quick Search Box - Start -->
				<app-quick-search-box></app-quick-search-box>
				<!-- Quick Search Box - End -->

				<!-- Advanced Search Box - Start -->
				<app-adv-search-box></app-adv-search-box>
				<!-- Advanced Search Box - End -->

				<!-- Newsletter Box - Start -->
				<app-newsletter-box></app-newsletter-box>
				<!-- Newsletter Box - End -->


			</div>
			<!-- Right Container Section - End -->
	</div>
</div>