<!-- Contact Page - Section - Start -->
<div class="container pg-top-section pages">
	<div class="row">

		<app-contact-content></app-contact-content>
		
		<app-contact-sidebar></app-contact-sidebar>

	</div>
</div>
<!-- Contact Page - Section - End -->