<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pg-sidebar">
	<div class="social-media-wrap">
		<div class="caption">
			<h4><span>Follow Us</span></h4>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="social-media">
					<a href="" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fab fa-facebook-square fa-2x"></i></a>
					<a href="" data-toggle="tooltip" data-placement="bottom" title="YouTube"><i class="fab fa-youtube-square fa-2x"></i></a>
					<a href="" data-toggle="tooltip" data-placement="bottom" title="Vimeo"><i class="fab fa-vimeo-square fa-2x"></i></a>
					<a href="" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fab fa-twitter-square fa-2x"></i></a>
				</div>							
			</div>
		</div>
	</div>
</div>
