<div class="container-fluid header-wrap fixed-top">
	<!-- Top Header -->
	<div class="container top-header">
		<div class="row">
			<div class="col-lg-6 top-links-w">
				<div class="top-links">
					<a href="#">Top Link - 1</a>
					<a href="#">Top Link - 2</a>
					<a href="#">Top Link - 3</a>
				</div>
			</div>
			<div class="col-lg-6 social-media-links">
				<div class="social-media text-right">
					<a href="" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
					<a href="" data-toggle="tooltip" title="YouTube"><i class="fa fa-youtube-square fa-2x"></i></a>
					<a href="" data-toggle="tooltip" title="Vimeo"><i class="fa fa-vimeo-square fa-2x"></i></a>
					<a href="" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
				</div>
			</div>
		</div>
	</div>

	<!-- Logo Header -->
	<div class="container-fluid w-header p-0">
		<div class="container w-header-cont p-0">
			<nav class="navbar navbar-expand-lg navbar-light">
			  <h1 class="d-none">Voir Videos</h1>
			  <a class="navbar-brand" href="index.html">
			  	<img src="assets/logo.png" alt="Voir Videos" data-toggle="tooltip" title="Welcome to Voir Videos" />
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#w-navbarContent" aria-controls="w-navbarContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="w-navbarContent">
			    <ul class="navbar-nav ml-auto">
			      <li class="nav-item active">
			        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="#" id="discoverDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Discover
			        </a>
			        <div class="dropdown-menu" aria-labelledby="discoverDropdown">
			          <a class="dropdown-item" href="#">Action</a>
			          <a class="dropdown-item" href="#">Another action</a>
			          <div class="dropdown-divider"></div>
			          <a class="dropdown-item" href="#">Something else here</a>
			        </div>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="#" id="discoverDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Movies
			        </a>
			        <div class="dropdown-menu" aria-labelledby="discoverDropdown">
			          <a class="dropdown-item" href="#">Action</a>
			          <a class="dropdown-item" href="#">Another action</a>
			          <div class="dropdown-divider"></div>
			          <a class="dropdown-item" href="#">Something else here</a>
			        </div>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="#" id="discoverDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          TV Shows
			        </a>
			        <div class="dropdown-menu" aria-labelledby="discoverDropdown">
			          <a class="dropdown-item" href="#">Action</a>
			          <a class="dropdown-item" href="#">Another action</a>
			          <div class="dropdown-divider"></div>
			          <a class="dropdown-item" href="#">Something else here</a>
			        </div>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="people.html">People</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="contact.html">Contact</a>
			      </li>				      
			    </ul>
			  </div>
			</nav>
		</div>
	</div>

</div>