				<div class="col-lg-12 movie-card-cont px-0">
					
					<!-- Movie 1 - Start -->
					<div class="card w-card movie-card">
						<div class="row card-body">

							<div class="col-lg-4 col-sm-12 movie-lhs-pic">
								<a href="">
									<img class="img-fluid" src="assets/movie-cards/1.jpg" alt="">
								</a>
							</div>
							<div class="col-lg-8 col-sm-12 movie-rhs-cont">
								<div class="card-title movie-title"><a href="">The French Chef</a></div>
								<div class="movie-sh-desc">The French Chef is a television cooking show created and hosted by Julia Child, and produced and broadcast by WGBH, the public television station in Boston...</div>
								<div class="moviestar-rate-display">
									<input id="input-id" name="input-name" type="number" class="rating" min=0 max=5 step=1 data-size="sm" data-readonly="true" value="2.5">
								</div>
								<div class="movie-ty-wrap">
									<div class="row">
										<div class="col-12 col-sm-3">
											<div class="movie-cal">
												<i class="fa fa-calendar"></i><span class="m-year">1963</span>
											</div>
										</div>
										<div class="col-12 col-sm-9">
											<div class="movie-tags">
												<i class="fa fa-tags"></i><span class="m-tags">TV Show</span>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<!-- Movie 1 - End -->

					<!-- Movie 2 - Start -->
					<div class="card w-card movie-card">
						<div class="row card-body">

							<div class="col-lg-4 col-sm-12 movie-lhs-pic">
								<a href=""><img class="img-fluid" src="assets/movie-cards/2.jpg" alt="" /></a>
							</div>
							<div class="col-lg-8 col-sm-12 movie-rhs-cont">
								<div class="card-title movie-title"><a href="">Incredibles 2</a></div>
								<div class="movie-sh-desc">Elastigirl springs into action to save the day, while Mr. Incredible faces his greatest challenge yet – taking care of the problems of his three children.</div>
								<div class="moviestar-rate-display">
									<input type="number" class="rating" min=0 max=5 step=1 data-size="sm" data-readonly="true" value="4">
								</div>
								<div class="movie-ty-wrap">
									<div class="row">
										<div class="col-12 col-sm-3">
											<div class="movie-cal">
												<i class="fa fa-calendar"></i><span class="m-year">2018</span>
											</div>
										</div>
										<div class="col-12 col-sm-9">
											<div class="movie-tags">
												<i class="fa fa-tags"></i><span class="m-tags">Action, Adventure, Animation, Family</span>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<!-- Movie 2 - End -->

					<!-- Movie 3 - Start -->
					<div class="card w-card movie-card">
						<div class="row card-body">

							<div class="col-lg-4 col-sm-12 movie-lhs-pic">
								<a href=""><img class="img-fluid" src="assets/movie-cards/3.jpg" alt="" /></a>
							</div>
							<div class="col-lg-8 col-sm-12 movie-rhs-cont">
								<div class="card-title movie-title"><a href="">Smallfoot</a></div>
								<div class="movie-sh-desc">A bright young yeti finds something he thought didn't exist—a human. News of this “smallfoot” throws the simple yeti community into an uproar...</div>
								<div class="moviestar-rate-display">
									<input type="number" class="rating" min=0 max=5 step=1 data-size="sm" data-readonly="true" value="3">
								</div>
								<div class="movie-ty-wrap">
									<div class="row">
										<div class="col-12 col-sm-3">
											<div class="movie-cal">
												<i class="fa fa-calendar"></i><span class="m-year">2018</span>
											</div>
										</div>
										<div class="col-12 col-sm-9">
											<div class="movie-tags">
												<i class="fa fa-tags"></i><span class="m-tags">Adventure, Animation, Comedy</span>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<!-- Movie 3 - End -->					

					<!-- Movie 4 - Start -->
					<div class="card w-card movie-card">
						<div class="row card-body">

							<div class="col-lg-4 col-sm-12 movie-lhs-pic">
								<a href=""><img class="img-fluid" src="assets/movie-cards/4.jpg" alt=""></a>
							</div>
							<div class="col-lg-8 col-sm-12 movie-rhs-cont">
								<div class="card-title movie-title"><a href="">A Star Is Born</a></div>
								<div class="movie-sh-desc">Seasoned musician Jackson Maine discovers - and falls in love with - struggling artist Ally. She has just about given up on her dream to make it big...</div>
								<div class="moviestar-rate-display">
									<input type="number" class="rating" min=0 max=5 step=1 data-size="sm" data-readonly="true" value="5">
								</div>
								<div class="movie-ty-wrap">
									<div class="row">
										<div class="col-12 col-sm-3">
											<div class="movie-cal">
												<i class="fa fa-calendar"></i><span class="m-year">2018</span>
											</div>
										</div>
										<div class="col-12 col-sm-9">
											<div class="movie-tags">
												<i class="fa fa-tags"></i><span class="m-tags">Drama, Music, Romance</span>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<!-- Movie 4 - End -->		

				</div>